// Import page-specific CSS files here.
@import "home";


  .container-2 .name {
    margin: 30px 20px;
    padding-right:60px;
  }

  .form-inputs{
    margin: 60px;
    padding: 40px;
    border-radius: initial;
    box-shadow: 1 1 1 1;
  }

  h2{
    padding: 20px;
  }

  .card-person {

  max-height: 150px;
  object-fit: cover;
  }

  body, html {
  height: 100%;
}

p {
  margin: 40px;
}

