img.photo-thumbnil {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.image_tag {
  height: 30vh
}

.card-img {
  width: 354px;
  height: 333px;
  object-fit: cover;
  margin-bottom: 20px;
}

.btn-block-btn-lg {

position: absolute;
width: 197.74px;
height: 46.48px;
left: 339.35px;
top: 527.75px;
padding-top: 30px;

}

.card {
  margin-top: 30px;
  padding-bottom: 30px;
}
