
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://llidesign.co.uk/assets/img/slider-img/Notting%20Hill%20-%20Living%20Room.jpg);">
  <div class="container">
    <h1>INDEGO <strong>Interior</strong> Designs <strong>On The Go</strong>!</h1>
    <p> Helping You to Design Your Ideal Room On A Budget</p>
      <%= link_to "Explore", services_path, class: "btn btn-ghost" %>
  </div>
</div>
