<h1>Home</h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://llidesign.co.uk/assets/img/slider-img/Notting%20Hill%20-%20Living%20Room.jpg);">
  <div class="container">
    <h1>INDEGO <strong>Interior</strong> Designs <strong>On The Go</strong>!</h1>
    <p> Helping You to Design Your Ideal Room On A Budget</p>
  </div>
</div>
<div>
<p> <%= link_to 'Show all services', services_path %> </p>
<p> <%= link_to 'Add service', new_service_path %> </p>
</div>